* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
	background-color: #F6EFE2;
	display: flex;
	flex-direction: column;
}

div {
	background-color: white;
	border: #E0C79A solid 1px;
	border-radius: 5px;
	font-family: 'Jost', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	display: flex;
	height: auto;
	width: 95vw;
	min-height: 45px;
	overflow: hidden;
}

.box-1 {
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.othercolor {
	color: #D19B2A;
	font-size: 16px;
}

.box-2 {
	align-self: flex-end;
	border-right: transparent;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.box-2-text {
	align-self:center;
	padding-left: 2em;
}

.box-3 {
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.box-3-text {
	align-self: center;
	padding-left: 1em;
	padding-right: 1em;
}

.box-4 {
	align-self: flex-end;
	justify-content: end;
	border-right: transparent;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

p {
	padding: 
}

h3 {
	font-size: 18px;
	padding-bottom: 0px;
}

.box-5 {
	align-items: center;
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.fa-phone {
	border: 0px;
	color: #D19B2A;
	font-size: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 6px;
}
.mixer {
	height: 137px;
	width: 166px;
}

.stavmixer {
	height: 194px;
	width: 158;
}

.smoothies {
	height: 191px;
	width: 131px;
}

.karlstad {
	height: 204px;
	width: 244px;
	padding-left: 2em;
}