* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

footer {
    position: relative;
    bottom: 0px;
    box-sizing: border-box;
    width: 100vw;
    color: #D19B2A;
    background-color: #E0C79A;
    height: 240px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    padding: 0px;
}

#footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer-content span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#footer-content ul {
    list-style-type: none;
}

#footer-content li {
    font-family: 'Advent pro', sans-serif;
    font-size: 16px;
}

#footer-social-content {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100vw;
}

#footer-branding-box {
    background-color: #D19B2A;
    color: #fff;
    width: 100vw;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    position: relative;
    bottom: -15px;
    border-radius: 5px 5px 0px 0px;
}