@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Advent Pro;
    src: url(fonts/AdventPro-Regular.ttf);
}

@font-face {
    font-family: Wallpoet;
    src: url(fonts/Wallpoet-Regular.ttf);
}

@font-face {
    font-family: Jost;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Itim;
    src: url(fonts/Itim-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
	background-color: #F6EFE2;
	display: flex;
	flex-direction: column;
}

.box {
	background-color: white;
	border: #E0C79A solid 1px;
	border-radius: 5px;
	font-family: 'Jost', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	display: flex;
	height: auto;
	width: 95vw;
	min-height: 50px;
	overflow: hidden;
}

.box-1 {
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	flex-flow: nowrap;
}

.othercolor {
	color: #D19B2A;
	font-size: 16px;
	width: 95vw;
}

p {
	padding: 1em;
	width: 95vw;
}

.box-2 {
	align-self: flex-end;
	border-right: transparent;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.box-2-text {
	align-self:center;
	padding-left: 1em;
}

.box-3 {
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.box-3-text {
	align-self: center;
	padding-left: 1em;
	padding-right: 1em;
}

.box-4 {
	align-self: flex-end;
	justify-content: end;
	border-right: transparent;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.box-4-text {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 95vw;
}

h1 {
	background-color: #E0C79A;
	border-bottom: 2px solid #D19B2A;
	border-radius:0px 0px 5px 5px;
	padding-top: 0.15px;
	color: white;
	text-align: center;
	font-family: 'ubuntu', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 1px #415257;
}

.box-5 {
	align-items: center;
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	flex-flow: nowrap;
}

.fa-phone {
	border: 0px;
	color: #D19B2A;
	font-size: 25px;
	padding: 10px;
}
.mixer {
	height: auto;
	width: 166px;
}

.stavmixer {
	height: 194px;
	width: 158px;
}

.smoothies {
	height: auto;
	width: 131px;
}

.karlstad {
	height: auto;
	width: 244px;
}

@media (orientation: landscape) {
	.box {
		width: 55vw;
		align-self: center;
		border-radius: 5px;
		border: 1px solid #E0C79A;
	}

	h1 {
		width: 55vw;
		align-self: center;
	}
}
