@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Advent Pro;
    src: url(fonts/AdventPro-Regular.ttf);
}

@font-face {
    font-family: Wallpoet;
    src: url(fonts/Wallpoet-Regular.ttf);
}

@font-face {
    font-family: Jost;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Itim;
    src: url(fonts/Itim-Regular.ttf);
}

::-webkit-scrollbar {
	width: 10px;
	border: 1px solid #D19B2A;
	border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #E0C79A;
	border-radius: 10px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #D19B2A;
	border-radius: 10px;
  }

header {
	position: fixed;
	width: 100%;
	background-color: white;
	height: 14em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: start;
	border-bottom: #E0C79A solid 3px;
    border-radius: 0px 0px 5px 5px;
}

Input {
	position: absolute;
	top: -99px;
	right: -99px;
}

label {
    position: absolute;
    z-index: 100;
    top: -6px;
    right: 20px;
    width: 3em;
    padding: 30px 0;
    cursor: pointer;
}

label::before, label span, label::after {
    display: block;
    position: relative;
    height: 7px;
    background-color: #000;
    transition: all .2s;
    border-radius: 5px;
}

label::before {
    top: -5px;
    width: 3em;
    content: '';
}

label:after {
    top: 5px;
    width: 3em;
    content: '';
}

nav {
	z-index: 1;
    position: absolute;
    top: -1000px;
	right: 0px;
    width: 100vw;
	height: 100vh; 
	background-color:#F6EFE2;
	color: black;
	padding: 0px;
}


nav h1 {
	top: -20px;
	width: 100vw;
	background-color: #E0C79A;
	text-align: center;
	border-bottom: #D19B2A 2px solid;
	border-radius: 0px 0px 5px 5px;
	padding-top:0.5em;
	padding-bottom: 1em;
	font-family: 'Itim', sans-serif;
	font-size: 26px;
	color: white;
	text-shadow: 1px 1px 1px #415257;
}



#toggle:checked ~ nav {
    top: 0px;
	right: 0px;
}

#toggle:checked ~ label::before {
    transform: rotate(-45deg); 
    top: 4px;
    width: 3em; 
	
}

#toggle:checked ~ label span {
    display: none;
}

#toggle:checked ~ label::after {
    transform: rotate(45deg);
    top: -1px;
    width: 3em;
}

header ul {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	top: 100px;
	list-style: none;
	font-size: 28px;
	padding: 0px;
	margin: 0px;
}

header ul li a {
	color: #000000;
	text-decoration: none;
	font-family: 'Itim', sans-serif;

}

header ul li a:hover {
	color: white;
}


header p {
	width: 308px;
	height: 19px;
	color: #D19B2A;
	font-family: 'Itim', cursive;
	grid-column: 2;
	grid-row: 2;
	justify-self: center;
	position: relative;
	top: -25px
}

.logo {
	height: 170px;
	width: 264px;
	padding-top: 2em;
	grid-column: 2;
	justify-self: center;
	align-self: end;
}


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
	background-color: #F6EFE2;
	display: flex;
	flex-direction: column;
	padding-top: 14em;
}

main a{
	color:#D19B2A;
	text-decoration: none;
}

main a:hover {
	font-weight: bold;
	color:#000;
	font-style: italic;
}

.box {
	background-color: white;
	border: #E0C79A solid 1px;
	border-radius: 5px;
	font-family: 'Jost', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	display: flex;
	height: auto;
	width: 95vw;
	min-height: 50px;
	overflow: hidden;
}

.box-1 {
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	flex-flow: nowrap;
}

.othercolor {
	color: #D19B2A;
	font-size: 16px;
	width: 95vw;
}

p {
	padding: 1em;
	width: 95vw;
}

.box-2 {
	align-self: flex-end;
	border-right: transparent;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.box-2-text {
	align-self:center;
	padding-left: 1em;
}

.box-3 {
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.box-3-text {
	align-self: center;
	padding-left: 1em;
	padding-right: 1em;
}

.box-4 {
	align-self: flex-end;
	justify-content: end;
	border-right: transparent;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.box-4-text {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 95vw;
}

h1 {
	background-color: #E0C79A;
	border-bottom: 2px solid #D19B2A;
	border-radius:0px 0px 5px 5px;
	padding-top: 0.15px;
	color: white;
	text-align: center;
	font-family: 'ubuntu', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 1px #415257;
}

.box-5 {
	align-items: center;
	border-left: transparent;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	flex-flow: nowrap;
}

.fa-phone {
	border: 0px;
	color: #D19B2A;
	font-size: 25px;
	padding: 10px;
}
.mixer {
	height: auto;
	width: 166px;
}

.stavmixer {
	height: 194px;
	width: 158px;
}

.smoothies {
	height: auto;
	width: 131px;
}

.karlstad {
	height: auto;
	width: 244px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    color: #D19B2A;
    background-color: #E0C79A;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    padding-bottom: 2.75em;
    font-family: 'Ubuntu', sans-serif;
    float: left;
}

/* Footer Related Content */
#footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 124px);
    padding-top: 1.5em;
    justify-content: space-evenly;
}

#footer-content span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Footer Lists */
#footer-content ul {
    list-style-type: none;
}

.footer-group li {
    font-family: 'Advent Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 7px;
}

.footer-group li a {
    color: #D19B2A;
    text-decoration: none;
}

.footer-group li a:hover {
    color: #FAFAFA;
    text-decoration: none;
}

.footer-group li:last-child {
    padding-bottom: 0px;
}

.footer-group {
    padding-bottom: 1.25em;
}

/* Social Media Stuff */
#footer-social-content {
    width: auto;
    height: auto;
    font-size: 18px;
    position: absolute;
    right: 7px;
    bottom: 48px;
}

#footer-social-content > * {
    padding-left: 7px;
}

#footer-social-content > i {
    font-size: 1.35em;
}

/* Footer Branding */
#footer-branding-box {
    background-color: #D19B2A;
    color: #fff;
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

#logo-branding {
    font-family: 'Wallpoet', sans-serif;
}

@media (orientation: landscape) {

	.box {
		width: 55vw;
		align-self: center;
		border-radius: 5px;
		border: 1px solid #E0C79A;
	}

	h1 {
		width: 55vw;
		align-self: center;
	}

	#footer-content {
        grid-template-columns: repeat(auto-fit, 160px);
    }
    .footer-group {
        display: grid;
        justify-content: center;
        align-content: flex-start;
    }
    .footer-group li {
        font-size: 20px;
    }
}
